body{
    font-family: sans-serif;
}
h1{
    
    text-align: center;
    font-size: 70px;
    color: gray;
    text-shadow: 3px 0px 5px yellow;
   
    
}
#img1{
    width: 300px;
    height: 300px;
    margin-left: 500px;
    margin-top: 50px;


}
#g1{
    font-size: 60px;
    text-align: center;
    
   
    
}
#p1{
    border: 2px solid;
    width: 600px;
    margin-left: 330px;
    padding: 10px;
    border-radius: 50px;
    background-color: yellow;
    color: grey;
    text-shadow: 3px 0px 5px white;
}
#link1{
  
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: italic;
    font-family: sans-serif;
    
    

}

#p2{
    
    margin-left: 500px;
    padding: 0px;
    margin-top: 0px;

    
}
.column{
    float: left;
    margin-left: 400px;
    padding: 20px;
}
#div1{
    float: left;
    margin-left: 0px;
    padding: 0px;
    margin-top: 30px;

}
#link2{
  
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    padding: 0px;
    margin-top: 10px;
    color: white;
    font-family: italic;
    font-family: sans-serif;
    
   

}
#p3{
    margin-left: 500px;
    padding: 10px;
    margin-top: 20px;
}
#div2{
    float: left;
    margin-left: 0px;
    padding: 0px;
    margin-top: 20px;

}
#link3{
  
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    padding: 0px;
    margin-top: 5px;
    color: white;
    font-family: italic;
    font-family: sans-serif;

}
#p4{
    margin-left: 500px;
    padding: 10px;
    margin-top: 15px;
}
#div3{
    float: left;
    margin-left: 0px;
    padding: 0px;
    margin-top: 20px;

}
#link4{
  
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    padding: 0px;
    margin-top: 5px;
    color: white;
    font-family: sans-serif;
    

}
#p5{
    margin-left: 550px;
    padding: 10px;
    margin-top: 15px;
}
body{
   background: linear-gradient(lightgrey,green);
   background-repeat: no-repeat;
   background-attachment: fixed;

}


